<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2> editar Estudiante</h2>
<form th:action="@{/actualizar}" th:object="${estudiante}" method="post">

	<p>
	 <input type="number" th:field="*{idestudiante}" class="form-control" readonly="readonly" >
	</p>

	<p>
	 <input type=text th:field="*{nombre}" placeholder="Ingrese Nombre" required="required">
	</p>
	<p>
	 <input type=text th:field="*{apellido}" placeholder="Ingrese Apellido" required="required">
	</p>
	<p>
	 <input type=text th:field="*{telefono}" placeholder="Ingrese Telefono">
	</p>
	<p>
	 <input type=text th:field="*{correo}" placeholder="Ingrese Correo">
	</p>
	<p>
 	<button class="btn btn-sucess" type="submit">actualizar</button>
	</p>
</form>
</body>
</html>